<h5>Editar Task</h5>

<div class="row">
  <form (ngSubmit)="atualizarTask()">
    <div class="form-group">
        <label for="id">Id</label>
        <input [(ngModel)] = "task.id" type="text" name="id" class="form-control" id="id" disabled >
      </div>

      <div class="form-group">
          <label for="titulo">Titulo</label>
          <input [(ngModel)] = "task.titulo" type="text" name="titulo" class="form-control" id="titulo" >
      </div>

      <div class="form-group">
          <label for="status">Status</label>
          <input [(ngModel)] = "task.status" type="text" name="status" class="form-control" id="status" >
      </div>

      <button type="submit" class="btn btn-primary">Salvar</button>

    </form>
  </div>
