<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="header">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/tasks">Task</a>
            </li>
      </ul>
    </div>
  </div>
  
  <div class="container">
      <router-outlet></router-outlet>
  </div>

