<h5>Detalhes da Task</h5>

<div>

<table class="table">
    <thead>
      <tr>
          <th>Id</th>
          <th>Titulo</th>
          <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr >
        <td>{{task?.id}}</td>
        <td>{{task?.titulo}}</td>
        <td>{{task?.status}}</td>
      </tr>
    </tbody>
  </table>

  <div id="lista_botoes">
      <a class="btn btn-primary" (click)="editarTask()">Editar</a>
      <a class="btn btn-danger " (click)="removerTask()" >Remover</a>
  </div>   
  
</div>