<div class="row">

    <div class="col s6">
      <p>
        Lista de Tasks
      </p>

      <div class="list-group">
          <a  class="list-group-item list-group-item-action active">
              Titulo
          </a>
          <a  [routerLink]=[task.id] class="list-group-item list-group-item-action " *ngFor = "let task of tasks ">
              {{task.titulo}}
          </a>
      </div>

      <div id="botao_criar">
          <a class="btn btn-primary" (click)="criarTask()">Criar</a>
      </div>

    </div>



    <div class="col s6">
        <router-outlet></router-outlet>
    </div>
 </div>
