/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.header {
    padding-bottom: 10px;
    border-bottom: 3px solid #e5e5e5;
    margin: 20px auto 20px;
}

#lista_botoes a{
    margin-left: 10px;
}

#botao_criar a{
    margin-top: 10px;
}